<dom-module id="cells-st-link-styles"><template><style>
:host {
  box-sizing: border-box;
  @apply --cells-st-link-host; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Default links */
:host ::slotted(*) {
  font-family: var(--cells-fontDefault, sans-serif);
  font-weight: 700;
  color: var(--cells-st-link-color, var(--bbva-medium-blue, #1973B8));
  text-decoration: none;
  font-size: 0.875rem;
  @apply --cells-st-link; }

:host ::slotted(:hover) {
  color: var(--cells-st-link-color-hover, var(--bbva-core-blue, #004481));
  @apply --cells-st-link-hover; }

:host ::slotted(:focus) {
  @apply --cells-st-link-focus; }

:host ::slotted(:active) {
  color: var(--cells-st-link-color-active, var(--bbva-core-blue, #004481));
  @apply --cells-st-link-active; }

</style></template></dom-module>