@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-demo-dm-helper;
}

:host(.resizing) {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

:host(.full-width) {
  .panel {
    &__left {
      width: 100%;
    }

    &__right {
      display: none;
    }
  }
}


*, *:before, *:after {
  box-sizing: inherit;
}

code {
  font-family: var(--cells-demo-dm-helper-code-font-family, roboto mono, monaco, monospace);
}

.wrapper {
  @media (min-width: rem(768px)) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  @apply --cells-demo-dm-helper-wrapper;
}

/**
 * login status + DM buttons
 */
.actions-bar {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @apply --cells-demo-dm-helper-actions-bar;

  &__left {
    display: flex;
    align-items: center;
    margin-bottom: rem(12px);
    @apply --cells-demo-dm-helper-actions-bar-left;
  }

  @media (min-width: rem(768px)) {
    flex-direction: row;
    align-items: center;
    @apply --cells-demo-dm-helper-actions-bar-tablet;

    &__left {
      max-width: rem(360px);
      margin-right: rem(20px);
      margin-bottom: 0;
      @apply --cells-demo-dm-helper-actions-bar-left-tablet;
    }
  }
}

.login-status {
  font-size: rem(13px);
  line-height: 1.5;
  color: #737373;
  @apply --cells-demo-dm-helper-login-status;

  &__indicator {
    color: #000;
    display: flex;
    align-items: center;
    @apply --cells-demo-dm-helper-login-status-indicator;

    &.off::before { background-color: var(--cells-demo-dm-helper-indicator-color-warning, #F7893B); }
    &.on::before { background-color: var(--cells-demo-dm-helper-indicator-color-ok, #388d4f); }
    &.error::before { background-color: var(--cells-demo-dm-helper-indicator-color-ko, #b92a45); }

    &::before {
      content: "";
      margin-right: 5px;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      @apply --cells-demo-dm-helper-indicator-ball;
    }
  }
}

.panels {
  .knob {
    --resizable-panels-knob: unquote("{
      background-color: #fff;
      margin: 0;
      @apply --cells-demo-dm-helper-resizable-panels-knob;
    }");
  }
}

.panel {
  &__left {
    min-width: rem(15px);
    width: 37.5%;
    border-right: 1px solid #f0f0f0;
    @apply --cells-demo-dm-helper-panel-left;
  }

  &__right {
    width: 62.5%;
    overflow: auto;
    border-left: 1px solid #f0f0f0;
    @apply --cells-demo-dm-helper-panel-right;
  }
}

/**
 * loader icon in button DM methods
 */
.btn-loader-icon {
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 12px;
  margin-left: -6px;
  height: 18px;
  width: 18px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  @apply --cells-demo-dm-helper-loader-icon;
}

.subtext {
  font-size: var(--cells-st-button-subtext-size, 0.6875rem);
  font-weight: 500;
  display: block;
  @apply --cells-st-button-subtext;
}

.btn-contents {
  display: flex;
  align-items: center;
  text-align: left
}

@keyframes pulsate {
  0% { transform: scale(0.1, 0.1); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: scale(1.2, 1.2); opacity: 0; }
}

:host([hidden]), [hidden] { display: none; }
