#jsoneditorContainer {
  height: calc(100% - 57px);
}

#jsoneditorContainer .jsoneditor-tree {
  white-space: nowrap;
}

#jsoneditorContainer table.jsoneditor-tree {
  width: 100%;
}

#jsoneditorContainer .jsoneditor-tree,
div.jsoneditor-field,
div.jsoneditor-value {
  font-family: roboto mono, monaco, monospace;
}

#jsoneditorContainer .jsoneditor {
  border: none;
  background-color: #f4f4f4;
  overflow: hidden;
  height: auto;
  width: 100%;
}

#jsoneditorContainer .jsoneditor-menu {
  background-color: #4c4c4c !important;
  border-bottom: none;
}
