<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/lib/utils/render-status.html">
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="cells-middle-modal-styles.html">

<dom-module id="cells-middle-modal">
  <template>
    <style include="cells-middle-modal-styles cells-middle-modal-shared-styles"></style>
    <slot name="pre-dialog"></slot>
    <div id="dialog" class="md-modal md-effect" tabindex="-1">
      <div class$="md-wrapper [[_mainHeaderClass(mainHeaderText)]]">
        <dom-if if="[[mainHeaderText]]">
          <template>
            <div class="main-header">
              <cells-heading id="heading" level="[[headingLevel]]">[[mainHeaderText]]</cells-heading>
            </div>
          </template>
        </dom-if>
        <div id="content" class="md-content">
          <dom-if if="[[closeIcon]]">
            <template>
              <cells-st-button class="transparent">
                <button id="btn-close" on-click="_onClickClose" aria-label$="[[t('cells-middle-modal-cancel')]]" class="md-content__btn-close">
                  <cells-atom-icon icon="{{closeIcon}}" class="icon-close icon-size-16" aria-hidden="true"></cells-atom-icon>
                </button>
              </cells-st-button>
            </template>
          </dom-if>
          <slot></slot>
        </div>
      </div>
    </div>
    <div class="md-overlay" aria-hidden="true" on-click="_onClick"></div>
  </template>
  <script src="cells-middle-modal.js"></script>
</dom-module>
