<dom-module id="cells-atom-icon-styles"><template><style>
:host {
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;
  font-size: var(--cells-atom-icon-size, 1rem);
  width: var(--cells-atom-icon-width-theme, var(--cells-atom-icon-width, 1em));
  height: var(--cells-atom-icon-height-theme, var(--cells-atom-icon-height, 1em));
  @apply --cells-atom-icon; }

:host([hidden]) {
  display: none; }

iron-icon {
  width: 100%;
  height: 100%;
  @apply --cells-atom-icon-iron-icon; }

:host(.icon-size-8) {
  font-size: 0.5rem; }

:host(.icon-size-10) {
  font-size: 0.625rem; }

:host(.icon-size-12) {
  font-size: 0.75rem; }

:host(.icon-size-14) {
  font-size: 0.875rem; }

:host(.icon-size-16) {
  font-size: 1rem; }

:host(.icon-size-18) {
  font-size: 1.125rem; }

:host(.icon-size-20) {
  font-size: 1.25rem; }

:host(.icon-size-22) {
  font-size: 1.375rem; }

:host(.icon-size-24) {
  font-size: 1.5rem; }

:host(.icon-size-26) {
  font-size: 1.625rem; }

:host(.icon-size-28) {
  font-size: 1.75rem; }

:host(.icon-size-30) {
  font-size: 1.875rem; }

:host(.icon-size-32) {
  font-size: 2rem; }

:host(.icon-size-34) {
  font-size: 2.125rem; }

:host(.icon-size-36) {
  font-size: 2.25rem; }

:host(.icon-size-38) {
  font-size: 2.375rem; }

:host(.icon-size-40) {
  font-size: 2.5rem; }

:host(.icon-size-42) {
  font-size: 2.625rem; }

:host(.icon-size-44) {
  font-size: 2.75rem; }

:host(.icon-size-46) {
  font-size: 2.875rem; }

:host(.icon-size-48) {
  font-size: 3rem; }

:host(.icon-size-50) {
  font-size: 3.125rem; }

:host(.icon-size-52) {
  font-size: 3.25rem; }

:host(.icon-size-54) {
  font-size: 3.375rem; }

:host(.icon-size-56) {
  font-size: 3.5rem; }

:host(.icon-size-58) {
  font-size: 3.625rem; }

:host(.icon-size-60) {
  font-size: 3.75rem; }

:host(.icon-size-62) {
  font-size: 3.875rem; }

:host(.icon-size-64) {
  font-size: 4rem; }

</style></template></dom-module>