@import "bower_components/cells-sass/main";

:host {
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;
  font-size: var(--cells-atom-icon-size, 1rem);
  width: var(--cells-atom-icon-width-theme, var( --cells-atom-icon-width, 1em));
  height: var(--cells-atom-icon-height-theme, var( --cells-atom-icon-height, 1em));
  @apply --cells-atom-icon;
}

:host([hidden]){
  display: none;
}

iron-icon {
  width: 100%;
  height: 100%;
  @apply --cells-atom-icon-iron-icon;
}

@for $i from 8 through 64 {
  @if $i % 2 == 0 {
    :host(.icon-size-#{$i}) {
      font-size: rem($i * 1px);
    }
  }
}
