<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-element/cells-element.html">
<link rel="import" href="../../../components/cells-page/second-page.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">


<dom-module id="second-page">

  <template>
    <style>
      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
      }
    </style>
    <cells-st-button id="nextBtn" on-click="_nextClicked" class="full">
      <button disabled$=[[disabledNext]]>Next</button>
    </cells-st-button>
  </template>
  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class HomePage extends CellsPage {
        static get is() { return 'second-page'; }
      }

      window.customElements.define(HomePage.is, HomePage);
    };
  </script>
</dom-module>