<custom-style>
  <style is="custom-style">
    body {
      font-family: var(--cells-fontDefault, sans-serif);
      margin: 0;
    }
    code {
      font-family: roboto mono, monaco, monospace;
    }

    #iframeBody {
      padding: 15px;
    }

    cells-demo-helper {
      --cells-demo-helper-iframe-mobile-frame: {
        display: none;
      };
    }

    .actions-bar {
      padding-bottom: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }

    .login-status__indicator {
      display: flex;
      align-items: center;
      font-size: 13px;
    }
    .login-status__indicator.logging {
      justify-content: center;
    }

    .login-status__indicator::before {
      content: "";
      margin-right: 5px;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    .login-status__indicator.off::before {
      background-color: red;
    }
    .login-status__indicator.in::before {
      background-color: green;
    }

    .btn-loader-icon {
      border: 3px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 12px;
      height: 18px;
      width: 18px;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      margin-left: -6px;
    }

    .btn-loader-icon.blue {
      border-color: #2A86CA;
    }

    div[hidden] {
      display: none;
    }

    @keyframes pulsate {
      0% { transform: scale(0.1, 0.1); opacity: 0; }
      50% { opacity: 1; }
      100% { transform: scale(1.2, 1.2); opacity: 0; }
    }

    cells-st-button.custom button {
      min-width: 0;
    }

    .btn-content {
      display: flex;
      align-items: center;
    }

    .subtext {
      display: block;
      font-weight: 500;
      font-size: 0.6875rem;
    }
  </style>
</custom-style>
