<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<dom-module id="my-greeting">

  <template>
    <style>
      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
      }
    </style>
    <cells-st-button id="nextBtn" on-click="_backClicked" class="full">
      <button disabled$=[[disabledNext]]>Return</button>
    </cells-st-button>
  </template>

  <script>
    class MyGreeting extends Polymer.Element {
      static get is() {
        return 'my-greeting';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {};
      }
    }

    customElements.define(MyGreeting.is, MyGreeting);
    </script>

</dom-module>
