<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-second-ui-styles.html">
<link rel="import" href="../cells-image-card/cells-image-card.html">
<dom-module id="cells-second-ui">
  <template>
      <cells-image-card
      header-inside-image
      heading="Your title"
      image-url="{{imageUrl}}"
      alt="Your image alt">
      </cells-image-card>
  </template>
  <script src="cells-second-ui.js"></script>
</dom-module>