<custom-style>
  <style>
    body {
      font-family: var(--cells-fontDefault, sans-serif);
      background-color: #FAFAFF;
      color: rgba(89, 128, 236, .88);
      margin: 0;
      box-sizing: border-box;
    }

    ul {
      list-style: none;
    }

    ul li {
      padding: 1em;
    }

    .app__footer {
      position: relative;
      border-top: 1px solid rgba(180, 192, 227, 1);
      background-color: rgba(255, 255, 255, 1);
      min-height: 40px;
    }

    .button {
      background-color: rgba(180, 192, 227, .35);
      color: rgba(89, 128, 236, .88);
      border: 1px solid rgba(180, 192, 227, 1);
      padding: 0.5em;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;
    }
  </style>
</custom-style>