<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<dp-project-cells>` description.

Example:

```html
<dp-project-cells></dp-project-cells>
```

@demo demo/index.html
-->
<dom-module id="dp-project-cells">
  <template>

    <cells-generic-dp></cells-generic-dp>

  </template>
  <script src="dp-project-cells.js"></script>
</dom-module>
