<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <title>Demo cells-radio-tabs</title>

  <script src="../../webcomponentsjs/webcomponents-loader.js"></script>
  <script>
    window.I18nMsg = window.I18nMsg || {};
    window.I18nMsg.url = 'locales';
  </script>

  <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
  <link rel="lazy-import" href="../../polymer/lib/elements/dom-bind.html">
  <link rel="lazy-import" href="../../paper-input/paper-input.html">
  <link rel="lazy-import" href="../../iron-pages/iron-pages.html">
  <link rel="lazy-import" href="../../coronita-icons/coronita-icons.html">
  <link rel="lazy-import" href="../cells-radio-tabs.html">
  <link rel="lazy-import" href="css/demo-styles.html">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400">
</head>

<body unresolved ontouchstart style="margin: 0;">
  <cells-demo-helper i18n locales-path="./locales" available-themes='["cells-coronita-base-theme"]' events='["tab-mouseevent", "selected-tab"]'>
    <cells-demo-case heading="Default style">
      <template>
        <dom-bind>
          <template>
            <paper-input label="Selected" type="number" value="{{selected::change}}" min="0" max="2"></paper-input>
            <cells-radio-tabs options='["One", "Two", "Three"]' selected="{{selected}}"></cells-radio-tabs>
          </template>
          <script>
            document.addEventListener('WebComponentsReady', function() {
              var demo = document.querySelector('dom-bind');
              demo.selected = 2;
            });
          </script>
        </dom-bind>

        <dom-bind>
          <template>
            <paper-input label="Selected" type="number" value="{{selected::change}}" min="0" max="1"></paper-input>
            <cells-radio-tabs options='["One", "Two"]' selected="{{selected}}"></cells-radio-tabs>
          </template>
        </dom-bind>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="With icons">
      <template>
        <custom-style>
          <style>
            .icon-reversed {
              --cells-radio-tabs-icon-margin: 0 0 0 10px;

              --cells-radio-tabs-content: {
                flex-direction: row-reverse;
              }
            }
          </style>
        </custom-style>

        <cells-radio-tabs icon-size="20" options='[{
              "icon": "coronita:alarm",
              "label": "Alerts"
            }, {
              "icon": "coronita:historic",
              "label": "Movements"
            }]'>
        </cells-radio-tabs>
        <cells-radio-tabs class="icon-reversed" icon-size="20" options='[{
              "icon": "coronita:alarm",
              "label": "Alerts"
            }, {
              "icon": "coronita:historic",
              "label": "Movements"
            }]'>
        </cells-radio-tabs>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="Mouse events" description="Fires &quot;tab-mouseenter&quot; event on mouseenter / mouseleave">
      <template>
        <cells-radio-tabs options='["One", "Two", "Three"]' notify-mouse-events></cells-radio-tabs>
        <script>
          document.addEventListener('WebComponentsReady', function() {
            const tabs = document.querySelector('cells-radio-tabs');
            tabs.addEventListener('tab-mouseevent', function(e) {
              document.dispatchEvent(new CustomEvent('tab-mouseevent', {
                bubbles: true,
                composed: true,
                detail: e.detail
              }));
            });
          });
        </script>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="Sample use as tab panel">
      <template>
        <custom-style>
          <style>
            .demo-0 {
              background-color: transparent;
              height: 44px;
              color: #757575;
              --cells-radio-tabs-color-selected: #D55A4A;
              --cells-radio-tabs-indicator-bg-color: #fff;

              --cells-radio-tabs-option: {
                border-bottom: 0;
                background-color: #eaeaea;
                margin: 0 1px;
                border-top: 2px solid #D2D2D2;
              }

              --cells-radio-tabs-selected: {
                z-index: 1;
              }

              --cells-ratio-tabs-indicator: {
                padding-bottom: 44px;
                background-color: #fff;
                border-top: 2px solid #D55A4A;
              }
            }
          </style>
        </custom-style>

        <dom-bind>
          <template>
            <div class="demo-0-wrapper">
              <cells-radio-tabs class="demo-0" options='["Option 1", "Option 2", "Last option"]' selected="{{selected}}"></cells-radio-tabs>
              <iron-pages selected="[[selected]]" class="tab-content">
                <div>
                  <p>Sample tab content 1.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, id?</p>
                </div>

                <div>
                  <p>Sample tab content 2.</p>
                  <p>Lorem ipsum dolor sit amet, molestias consectetur rem, dolorem assumenda dignissimos.</p>
                </div>

                <div>
                  <p>Sample tab content 3.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
              </iron-pages>
            </div>
          </template>
        </dom-bind>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="Custom styles">
      <template>
        <custom-style>
          <style>
            .demo-1 {
              color: #9DA4D3;
              height: 32px;
              background-color: #DDDFE9;
              margin-left: auto;
              margin-right: auto;
              max-width: 210px;
              font-family: Lato, sans-serif;
              font-weight: 300;
              font-size: 12px;
              --cells-radio-tabs-border-radius: 100px;
              --cells-radio-tabs-color-selected: #fff;

              --cells-radio-tabs-option: {
                text-transform: uppercase;
                letter-spacing: 3px;
                border-bottom: 0;
                z-index: 1;
                padding-left: 12px;
                padding-right: 12px;
              }

              --cells-radio-tabs-selected: {
                font-weight: 400;
              }

              --cells-ratio-tabs-indicator: {
                height: 100%;
                padding-bottom: 32px;
                background-color: #3E4EB5;
                box-shadow: 0 2px 8px 0px rgba(62, 78, 181, 0.9);
              }
            }

            .demo-2 {
              color: #666;
              background: #dadada;
              box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.12);
              margin-left: auto;
              margin-right: auto;
              max-width: 86px;
              padding: 3px;
              text-transform: uppercase;
              transform: scale(0.8);
              /* lazy mode */
              --cells-radio-tabs-color-selected: #fff;
              --cells-radio-tabs-item-height: 38px;
              --cells-radio-tabs-indicator-bg-color: #48ae64;
              --cells-radio-tabs-border-radius: 64px;

              --cells-radio-tabs-option: {
                letter-spacing: 0;
              }

              --cells-radio-tabs-option: {
                width: 40px;
                z-index: 1;
                border-bottom: 0;
              }

              --cells-ratio-tabs-indicator: {
                width: 40px;
                bottom: 3px;
                left: 3px;
                height: calc(100% - 6px);
                padding-bottom: 32px;
                background-image: linear-gradient(-180deg, #43AF61 0%, #298D45 100%);
                box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.18), inset 0 -1px 0 0 #1D7937;
              }

              --cells-radio-tabs-icon: {
                margin-right: 5px;
                margin-left: 5px;
                filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.2));
              }
            }
          </style>
        </custom-style>

        <cells-radio-tabs class="demo-1" options='["General", "Support"]'></cells-radio-tabs>
        <cells-radio-tabs class="demo-2" options='[{
            "icon": "coronita:on",
            "label": " "
          }, {
            "icon": "coronita:close",
            "label": " "
          }]'></cells-radio-tabs>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="With i18n">
      <template>
        <dom-bind>
          <template>
            <cells-radio-tabs options='["option-1", "option-2", "option-3"]'></cells-radio-tabs>
          </template>
        </dom-bind>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="With total in tabs">
      <template>
        <dom-bind>
          <template>
            <cells-radio-tabs options='[{
                "label": "option-1",
                "total": 10
              }, {
                "label": "option-2",
                "total": 5
              }]'></cells-radio-tabs>
          </template>
        </dom-bind>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="With notifications">
        <template>
          <custom-style>
            <style>
              .icon-reversed {
                --cells-radio-tabs-icon-margin: 0 0 0 10px;

                --cells-radio-tabs-content: {
                  flex-direction: row-reverse;
                }
              }
            </style>
          </custom-style>
          <cells-radio-tabs class="icon-reversed" options='[{
                "notifications": "2",
                "label": "Alerts"
              }, {
                "label": "Movements"
              }]'>
          </cells-radio-tabs>
        </template>
      </cells-demo-case>
    <cells-demo-case heading="With total in tabs with round-total class styles">
      <template>
        <dom-bind>
          <template>
            <cells-radio-tabs class="round-total" options='[{
                "label": "Option-1",
                "total": 99
              }, {
                "label": "Option-2"
              }, {
                "label": "Option-3",
                "total": 5
              }, {
                "label": "Option-4"
              }]'></cells-radio-tabs>
          </template>
        </dom-bind>
      </template>
    </cells-demo-case>
  </cells-demo-helper>
</body>

</html>
