<link rel="import" href="../polymer/polymer.html">

<!--
`<resizable-panels>` allows to resize the width (default) or the height (vertical mode) of the component childrens.

Example:

    <resizable-panels>
      <div>Lorem ipsum dolor…</div>
      <div>Second panel</div>
      <div>Third panel</div>
    </resizable-panels>

Vertical mode:

    <resizable-panels vertical>
      <div>Lorem ipsum dolor…</div>
      <div>Second panel</div>
      <div>Third panel</div>
    </resizable-panels>

## Styling

The following custom CSS properties are available for styling:

| Custom property                | Description                             | Default     |
|:-------------------------------|:----------------------------------------|------------:|
| --resizable-panels-knob-size   | width (default) or height of the knobs  | 4px         |
| --resizable-panels-knob-color  | background color of the knobs           | #fff        |
| --resizable-panels-knob        | Mixin applied to the knob               | {}          |

@demo demo/index.html
-->

<dom-module id="resizable-panels">
  <template>
    <style>
      :host {
        display: -webkit-box;
        display: flex;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      :host([vertical]) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        flex-basis: auto;
      }

      ::slotted(:not(.knob)) {
        overflow: hidden;
      }

      ::slotted(.knob) {
        width: var(--resizable-panels-knob-size, 4px);
        margin-left: calc(var(--resizable-panels-knob-size, 4px) / 2 * -1);
        margin-right: calc(var(--resizable-panels-knob-size, 4px) / 2 * -1);
        position: relative;
        z-index: 1;
        background-color: var(--resizable-panels-knob-color, #fff);
        cursor: col-resize;
        flex-shrink: 0;
        @apply --resizable-panels-knob;
      }

      :host([vertical]) ::slotted(.knob) {
        width: 100%;
        height: var(--resizable-panels-knob-size, 4px);
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(var(--resizable-panels-knob-size, 4px) / 2 * -1);
        margin-bottom: calc(var(--resizable-panels-knob-size, 4px) / 2 * -1);
        cursor: row-resize;
        @apply --resizable-panels-knob;
      }

      :host(.dragging) ::slotted(*) {
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    </style>

    <slot></slot>
  </template>
  <script src="resizable-panels.js"></script>
</dom-module>
