<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../cells-template-animation-behavior/cells-template-animation-behavior.html">
<link rel="import" href="../cells-app-drawer/cells-app-drawer.html">
<link rel="import" href="../cells-paper-scroll-header-panel/cells-paper-scroll-header-panel.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="cells-template-paper-drawer-panel-styles.html">

<dom-module id="cells-template-paper-drawer-panel">
  <template>
    <style include="cells-template-paper-drawer-panel-styles cells-template-paper-drawer-panel-shared-styles cells-template-animation-behavior-styles"></style>
    <cells-app-drawer id="app-container" class="app-container" force-narrow right-drawer="[[rightDrawer]]" drawer-width="[[drawerWidth]]"
      disable-swipe="[[disableSwipe]]" disable-edge-swipe="[[disableEdgeSwipe]]" edge-swipe-sensitivity="[[edgeSwipeSensitivity]]"
      on-content-scroll="_onContentScroll" on-selected-changed="_onSelectedChanged" peeking="{{peeking}}" dragging="{{dragging}}"
      scale-content=[[scaleContent]]>
      <cells-paper-scroll-header-panel fixed="[[headerFixed]]" class="app__section" id="app__section" main slot="main"
        header-height="[[headerHeight]]" configurations-number="[[configurationsNumber]]">
        <header class="app__header paper-header" id="app__header" hidden$="[[headerHidden]]" slot="header-content">
          <slot name="app__header"></slot>
        </header>
        <div class="app__main app__scroller-list" id="app__main" slot="main-content">
          <slot name="app__main"></slot>
          <iron-collapse class="app__confirm" id="app__confirm" opened="{{collapseOpened}}" slot="app__confirm">
            <slot name="app__confirm"></slot>
          </iron-collapse>  
        </div>
      </cells-paper-scroll-header-panel>

      <footer class="app__footer" id="app__footer" slot="footer">
        <slot name="app__footer"></slot>
      </footer>

      <aside drawer id="app__complementary" class="app__complementary" slot="drawer">
        <slot name="app__complementary"></slot>
      </aside>
    </cells-app-drawer>

    <div class="app__overlay" id="app__overlay">
      <slot name="app__overlay"></slot>
    </div>

    <div class="app__transactional" id="app__transactional">
      <slot name="app__transactional"></slot>
    </div>
  </template>
  <script src="cells-template-paper-drawer-panel.js"></script>
</dom-module>