<custom-style>
  <style is="custom-style">
    html {
      font-family: sans-serif;
      overflow-x: hidden;
    }

    body { margin: 0; }
    .page-1 {--cells-template-paper-drawer-panel-section-bg: #dad9d9; background: #dad9d9;}
    .page-2 { --cells-template-paper-drawer-panel-section-bg: #237ABA; background: #237ABA;}
    .page-3 { --cells-template-paper-drawer-panel-section-bg: #6754B8; background: 6754B8;}

    .btn {
      font: inherit;
      font-size: 15px;
      color: #fff;
      background-color: #004481;
      border-radius: 1px;
      border: 0;
      padding: 15px 30px;
      min-width: 180px;
      cursor: pointer;
      position: relative;
      transform: translate(40px,20px);
    }
  </style>
</custom-style>
