<custom-style>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      user-select: none;
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
    }
  </style>
</custom-style>