<custom-style>
  <style is="custom-style">
    body {
      margin: 0;
    }
    cells-demo-helper {
      --cells-demo-helper-iframe-mobile-frame: {
        display: none;
      };
    }
    #iframeBody {
      padding: 15px;
    }
    @media (max-width: 768px) {
      *, *:before, *:after {
        -webkit-tap-highlight-color: transparent;
      }
    }
  </style>
</custom-style>
