<dom-module id="cells-molecule-card-cover-styles"><template><style>
:host {
  position: relative;
  display: inline-block;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-molecule-card-cover; }

:host([hidden]), [hidden] {
  display: none !important; }

:host([fluid]) iron-image {
  width: 100% !important;
  height: 100% !important;
  @apply --cells-molecule-card-cover-img-fluid; }

:host([angled-overlay]) {
  border-radius: 5px;
  overflow: hidden;
  @apply --cells-molecule-card-cover-angled-overlay; }
  :host([angled-overlay]) .icon-text-container {
    background-color: transparent !important;
    left: 58%;
    padding: 0; }
    :host([angled-overlay]) .icon-text-container:before {
      content: "";
      box-sizing: border-box;
      box-shadow: -3px 0 rgba(18, 18, 18, 0.2);
      position: absolute;
      -webkit-transform: skew(10deg) translateX(10%);
              transform: skew(10deg) translateX(10%);
      width: 110%;
      height: 100%;
      display: block;
      @apply --cells-molecule-card-cover-angled-overlay-before; }
    :host([angled-overlay]) .icon-text-container.locked:before {
      background-color: var(--cells-molecule-card-cover-background-color-locked, #f35e61); }
    :host([angled-overlay]) .icon-text-container.activate:before {
      background-color: var(--cells-molecule-card-cover-background-color-activate, #1464A5); }
    :host([angled-overlay]) .icon-text-container.off:before {
      background-color: var(--cells-molecule-card-cover-background-color-off, rgba(255, 255, 255, 0.8)); }

iron-image {
  display: block;
  margin: 0;
  --iron-image-width: var(--cells-molecule-card-cover-iron-image-width, 100%);
  --iron-image-height: var(--cells-molecule-card-cover-iron-image-height, auto);
  --iron-image-placeholder: { @apply --cells-molecule-card-cover-iron-image-placeholder; };
  @apply --cells-molecule-card-cover-img; }

cells-atom-icon {
  margin: 0 auto 10px;
  padding: 5px;
  border-radius: 50%;
  color: var(--cells-molecule-card-cover-icon-color, #fff);
  background-color: var(--cells-molecule-card-cover-icon-background-color, #DA3851);
  @apply --cells-molecule-card-cover-icon; }

.icon-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  color: var(--cells-molecule-card-cover-color, #DA3851);
  background-color: var(--cells-molecule-card-cover-background-color, rgba(255, 255, 255, 0.8));
  @apply --cells-molecule-card-cover-icon-text-container; }
  .icon-text-container.locked {
    color: var(--cells-molecule-card-cover-color-locked, #fff);
    background-color: var(--cells-molecule-card-cover-background-color-locked, #f35e61);
    @apply --cells-molecule-card-cover-locked; }
    .icon-text-container.locked cells-atom-icon {
      background-color: var(--cells-molecule-card-cover-icon-background-color-locked, #DA3851);
      color: var(--cells-molecule-card-cover-icon-color-locked, inherit);
      @apply --cells-molecule-card-cover-icon-locked; }
  .icon-text-container.activate {
    color: var(--cells-molecule-card-cover-color-activate, #fff);
    background-color: var(--cells-molecule-card-cover-background-color-activate, #1464A5);
    @apply --cells-molecule-card-cover-activate; }
    .icon-text-container.activate cells-atom-icon {
      background-color: var(--cells-molecule-card-cover-icon-background-color-activate, #004481);
      color: var(--cells-molecule-card-cover-icon-color-activate, inherit);
      @apply --cells-molecule-card-cover-icon-activate; }
  .icon-text-container.off {
    color: var(--cells-molecule-card-cover-color-off, #121212);
    background-color: var(--cells-molecule-card-cover-background-color-off, rgba(255, 255, 255, 0.8));
    @apply --cells-molecule-card-cover-off; }
    .icon-text-container.off cells-atom-icon {
      background-color: var(--cells-molecule-card-cover-background-color-off, transparent);
      color: var(--cells-molecule-card-cover-icon-color-off, #121212);
      @apply --cells-molecule-card-cover-icon-off; }
  .icon-text-container span {
    display: block;
    margin: 0 auto;
    @apply --cells-molecule-card-cover-text; }

</style></template></dom-module>