html, body {
  margin: 0;
  font-family: var(--cells-fontDefault, sans-serif);
}

.demo-actions {
  margin: 1rem auto 0.5rem;
  display: flex;
  align-items: center;
}

.demo-actions cells-st-button {
  padding: 0 1rem;
}

p.info {
  margin: 0.5rem auto;
}

.demo-header {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 20px;
}

.demo-result {
  margin: 1rem;
  font-size: 14px;
  overflow-x: scroll;
}

