<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<dp-project-cells-entrega>` description.

Example:

```html
<dp-project-cells-entrega></dp-project-cells-entrega>
```

@demo demo/index.html
-->
<dom-module id="dp-project-cells-entrega">
  <template>

    <cells-generic-dp></cells-generic-dp>

  </template>
  <script src="dp-project-cells-entrega.js"></script>
</dom-module>
