<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./cells-molecule-spinner-veil-styles.html">

<dom-module id="cells-molecule-spinner-veil">
  <template>
    <style include="cells-molecule-spinner-veil-styles cells-molecule-spinner-veil-shared-styles"></style>
    <div class="spinner">
      <slot name="spinner">
        <span class="ball dark"></span>
        <span class="ball light"></span>
      </slot>
    </div>
    <slot></slot>
  </template>
  <script src="cells-molecule-spinner-veil.js"></script>
</dom-module>
