<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/legacy/class.html">
<link rel="import" href="../polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<link rel="import" href="../iron-selector/iron-selector.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="cells-app-drawer-styles.html">

<dom-module id="cells-app-drawer">
  <template>
    <style include="cells-app-drawer-styles cells-app-drawer-shared-styles">
    </style>
    <iron-media-query id="mq" on-query-matches-changed="_onQueryMatchesChanged" query="[[_computeMediaQuery(forceNarrow, responsiveWidth)]]">
    </iron-media-query>

    <iron-selector attr-for-selected="id" class$="[[_computeIronSelectorClass(narrow, _transition, dragging, rightDrawer, peeking)]]"
      activate-event="" selected="[[selected]]">

      <div id="main" style$="[[_computeMainStyle(narrow, rightDrawer, drawerWidth)]]">
        <slot name="main"></slot>
        <slot name="footer"></slot>
        <div id="scrim" on-click="closeDrawer"></div>
      </div>

      <div id="drawer" style$="[[_computeDrawerStyle(drawerWidth)]]">
        <slot id="drawerContent" name="drawer"></slot>
      </div>

    </iron-selector>
  </template>
  <script src="./cells-app-drawer.js"></script>
</dom-module>