<dom-module id="cells-app-drawer-styles"><template><style>
:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @apply --cells-app-drawer-drawer; }

iron-selector #drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  will-change: transform;
  box-sizing: border-box;
  z-index: 2;
  @apply --cells-app-drawer-drawer-container; }

iron-selector #main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  @apply --cells-app-drawer-main-container; }

iron-selector #main ::slotted([slot="footer"]) {
  @apply --cells-app-drawer-main-container-footer; }

iron-selector:not(.narrow-layout) ::slotted([paper-drawer-toggle]) {
  display: none; }

.transition #drawer {
  transition: -webkit-transform ease-in-out 224ms;
  transition: transform ease-in-out 224ms, -webkit-transform ease-in-out 224ms; }

:host([scale-content]) #drawer {
  -webkit-transform: none !important;
  transform: none !important;
  z-index: 1; }

:host([scale-content]) #main {
  z-index: 2; }

:host([scale-content]) .transition #drawer {
  transition: none;
  z-index: 1; }

:host([scale-content]) .transition #main {
  z-index: 2;
  will-change: transform;
  transition: -webkit-transform 224ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: transform 224ms cubic-bezier(0.4, 0, 0.6, 1), -webkit-transform 224ms cubic-bezier(0.4, 0, 0.6, 1); }

.left-drawer #drawer {
  @apply --cells-app-drawer-left-drawer-container; }

.left-drawer.narrow-layout #drawer:not(.iron-selected) {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.right-drawer #drawer {
  left: auto;
  right: 0;
  @apply --cells-app-drawer-right-drawer-container; }

.right-drawer #main {
  left: 0; }

.right-drawer.narrow-layout #main {
  left: 0;
  right: 0; }

.right-drawer.narrow-layout #drawer.iron-selected {
  @apply --cells-app-drawer-right-drawer; }

.right-drawer.narrow-layout #drawer:not(.iron-selected) {
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

#main ::slotted([slot="main"]) {
  height: 100%; }

#drawer ::slotted([slot="drawer"]) {
  height: 100%; }

#scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
  @apply --cells-app-drawer-scrim; }

.narrow-layout #drawer {
  will-change: transform; }

.narrow-layout #drawer.iron-selected {
  @apply --cells-app-drawer-left-drawer; }

.narrow-layout #main > * {
  margin: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  @apply --narrow-layout-main-direct-child; }

:host([scale-content][selected="drawer"]) .left-drawer #main {
  -webkit-transform: scale(0.66) translateX(95vw);
  transform: scale(0.66) translateX(95vw);
  @apply --cells-app-drawer-scale-content-left-drawer; }

:host([scale-content][selected="drawer"]) .right-drawer #main {
  -webkit-transform: scale(0.66) translateX(-95vw);
  transform: scale(0.66) translateX(-95vw);
  @apply --cells-app-drawer-scale-content-right-drawer; }

.narrow-layout > #main:not(.iron-selected) > #scrim,
.dragging > #main > #scrim {
  pointer-events: auto; }

</style></template></dom-module>