<dom-module id="cells-demo-dm-helper-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-demo-dm-helper; }

:host(.resizing) {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

:host(.full-width) .panel__left {
  width: 100%; }

:host(.full-width) .panel__right {
  display: none; }

*, *:before, *:after {
  box-sizing: inherit; }

code {
  font-family: var(--cells-demo-dm-helper-code-font-family, roboto mono, monaco, monospace); }

.wrapper {
  @apply --cells-demo-dm-helper-wrapper; }
  @media (min-width: 48rem) {
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%; } }

/**
 * login status + DM buttons
 */
.actions-bar {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @apply --cells-demo-dm-helper-actions-bar; }
  .actions-bar__left {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    @apply --cells-demo-dm-helper-actions-bar-left; }
  @media (min-width: 48rem) {
    .actions-bar {
      flex-direction: row;
      align-items: center;
      @apply --cells-demo-dm-helper-actions-bar-tablet; }
      .actions-bar__left {
        max-width: 22.5rem;
        margin-right: 1.25rem;
        margin-bottom: 0;
        @apply --cells-demo-dm-helper-actions-bar-left-tablet; } }

.login-status {
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #737373;
  @apply --cells-demo-dm-helper-login-status; }
  .login-status__indicator {
    color: #000;
    display: flex;
    align-items: center;
    @apply --cells-demo-dm-helper-login-status-indicator; }
    .login-status__indicator.off::before {
      background-color: var(--cells-demo-dm-helper-indicator-color-warning, #F7893B); }
    .login-status__indicator.on::before {
      background-color: var(--cells-demo-dm-helper-indicator-color-ok, #388d4f); }
    .login-status__indicator.error::before {
      background-color: var(--cells-demo-dm-helper-indicator-color-ko, #b92a45); }
    .login-status__indicator::before {
      content: "";
      margin-right: 5px;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      @apply --cells-demo-dm-helper-indicator-ball; }

.panels .knob {
  --resizable-panels-knob: { background-color: #fff; margin: 0; @apply --cells-demo-dm-helper-resizable-panels-knob; }; }

.panel__left {
  min-width: 0.9375rem;
  width: 37.5%;
  border-right: 1px solid #f0f0f0;
  @apply --cells-demo-dm-helper-panel-left; }

.panel__right {
  width: 62.5%;
  overflow: auto;
  border-left: 1px solid #f0f0f0;
  @apply --cells-demo-dm-helper-panel-right; }

/**
 * loader icon in button DM methods
 */
.btn-loader-icon {
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 12px;
  margin-left: -6px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 1s ease-out;
          animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  @apply --cells-demo-dm-helper-loader-icon; }

.subtext {
  font-size: var(--cells-st-button-subtext-size, 0.6875rem);
  font-weight: 500;
  display: block;
  @apply --cells-st-button-subtext; }

.btn-contents {
  display: flex;
  align-items: center;
  text-align: left; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0; } }

:host([hidden]), [hidden] {
  display: none; }

</style></template></dom-module>