<custom-style>
  <style is="custom-style">
    body {
      margin: 0;
      font-family: sans-serif;
    }

    .demo-content {
      text-align: center;
      padding: 20px;
    }

    .btn {
      background-color: var(--bbva-white-core-blue, #1464A5);
      color: #fff;
      border: 0;
      height: 40px;
      padding: 0 20px;
      font: inherit;
      font-size: 14px;
      position: absolute;
      z-index: 1000;
      margin: 12px;
    }

    .buttons {
      padding: 8px;
      position: relative;
      z-index: 1000;
      background-color: #f1f2f3;
      display: flex;
      flex-wrap: wrap;
    }

    .buttons > .btn {
      position: static;
      height: 40px;
      padding: 0 16px;
      flex: 1;
      margin: 0 4px;
    }

    #counter {
      font-size: 14px;
      flex: 1 0 100%;
      margin: 8px 0 2px 4px;
    }
  </style>
</custom-style>
