<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">

<dom-module id="button-accion">
  <template>
    <style>
      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
      }
    </style>
    <cells-st-button id="nextBtn" on-click="_nextClicked" class="full">
      <button disabled$=[[disabledNext]]>Next</button>
    </cells-st-button>
  </template>

  <script>
    {
      class ButtonPlay extends Polymer.Element {
        static get is() {
          return 'button-accion';
        }

        static get properties() {
          return {
            disabledNext: {
              type: Boolean,
              value: false,
              notify: true
            },
            number: Number,
            title: String
          };
        }

        disableNext() {
          this.disabledNext = true;
        }

        enableNext() {
          this.disabledNext = false;
        }

        enableButtons() {
          this.enableNext();
          this.enablePrevious();
        }

        setNum(data) {
          const { num} = data;

          this.number = num;
        }

        _nextClicked() {
          // BE AWARE! If you are not sending a payload, you can use 'Event' instead of 'CustomEvent'
          // resource: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events
          const detail = { number: 1};
          this.dispatchEvent(new CustomEvent('next-clicked', {composed: true, bubbles: true, detail }));
        }

        _normalizeUriString(string) {
          return string.replace(/\s+/g, '-').toLowerCase();
        }
      }

      customElements.define(ButtonPlay.is, ButtonPlay);
    }
  </script>
</dom-module>