<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-demo-dm-helper</title>
    <script>window.Polymer = {dom: 'shadow', lazyRegister: true, useNativeCSSProperties: true };</script>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="lazy-import" href="../../cells-bgadp-accounts-dm/cells-bgadp-accounts-dm.html">
    <link rel="lazy-import" href="../../cells-product-item-list/cells-product-item-list.html">
    <link rel="lazy-import" href="../cells-demo-dm-helper.html">
    <link rel="lazy-import" href="css/demo-styles.html">
  </head>
  <body unresolved ontouchstart style="margin: 0;">
    <cells-demo-helper
      breakpoints='{ "desktop": { "width": 1200, "height": 800, "name": "desktop" } }'
      resolution="desktop"
      events='["login-request-success", "login-request-error"]'>
      <cells-demo-case heading="Default">
        <template>
          <dom-bind>
            <template is="dom-bind" id="demo">
              <cells-demo-dm-helper
                loading-data="[[loadingData]]"
                json-data="[[accounts]]"
                on-get-accounts="getDmAccounts"
                on-get-accounts-balance="getDmAccountsBalance"
                dm-methods="[[dmMethods]]">
                <cells-product-item-list items="[[accounts]]" balance="[[balance]]" slot="component" loading></cells-product-item-list>
              </cells-demo-dm-helper>

              <cells-bgadp-accounts-dm id="dm"
                host="https://artichoke.platform.bbva.com"
                currency="PEN"
                language="ES"
                accounts="{{accounts}}"
                accounts-balance="{{balance}}"
                on-accounts-changed="setLoading"
                on-accounts-balance-changed="setLoading"
                fetch-accounts>
              </cells-bgadp-accounts-dm>
            </template>
          </dom-bind>
          <script>
            document.addEventListener('WebComponentsReady', function() {
              var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '[is="dom-bind"]');
              demo.dmMethods = [{
                'event': 'get-accounts',
                'label': 'Get Accounts',
                'method': 'getAccounts()'
              }, {
                'event': 'get-accounts-balance',
                'label': 'Get Accounts Balance',
                'method': 'getAccountsBalance()'
              }];

              demo.getDmAccounts = function() {
                demo.loadingData = true;
                demo.$.dm.getAccounts();
              };

              demo.getDmAccountsBalance = function() {
                demo.loadingData = true;
                demo.$.dm.getAccountsBalance();
              };

              demo.setLoading = function() {
                demo.loadingData = false;
              };
            });
          </script>
        </template>
      </cells-demo-case>
      <cells-demo-case heading="Without Login and full width">
        <template>
          <dom-bind>
            <template is="dom-bind">
              <cells-demo-dm-helper class="full-width" json-data="[[slides]]" without-login></cells-demo-dm-helper>
            </template>
          </dom-bind>
          <script>
            document.addEventListener('WebComponentsReady', function() {
              var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '[is="dom-bind"]');
              demo.slides = [
                {
                  'title': '¡No más filas!',
                  'text': 'Realiza transferencias, consulta tu saldo, paga servicios y maneja tu dinero sin ir a una sucursal',
                  'backgroundColor': '#003E7B',
                },
                {
                  'title': 'Siempre informado',
                  'text': 'Entérate al instante de cualquier movimiento importante en tus cuentas o tarjetas.',
                  'backgroundColor': '#00CDCD',
                },
              ];
            });
          </script>
        </template>
      </cells-demo-case>
    </cells-demo-helper>

  </body>
</html>
